<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback Configuration.  -->
<configuration debug="false">
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->  
    <property name="LOG_HOME" value="~/log" />  
    <property name="LOG_ENCODING" value="UTF-8" />  
    
    
    <!-- 按照每天生成日志文件 -->   
    <appender name="monitorLogAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <Encoding>${LOG_ENCODING}</Encoding>   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/monitor-data.log.%d{yyyy-MM-dd}</FileNamePattern>   
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>   
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%msg%n</pattern>   
       </layout> 
    </appender> 
    
    <appender name="rootAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <Encoding>UTF-8</Encoding>   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/monitor-data.log.%d{yyyy-MM-dd}</FileNamePattern>   
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>   
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%msg%n</pattern>   
       </layout> 
    </appender> 

    <logger name="monitorLog">
        <level value="INFO" />
        <appender-ref ref="monitorLogAppender" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="rootAppender" />
    </root>
</configuration>
