<?xml version="1.0" encoding="UTF-8" ?>
<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
    <!-- 初始化日志系统 -->
    <listener>
	    <listener-class>com.chemao.log.listener.LogbackListener</listener-class>
	</listener>
	<context-param>
    <param-name>logbackConfigLocation</param-name>
	    <param-value>WEB-INF/logback.xml</param-value>
	</context-param>
   
   	<!-- 初始化spring bean -->
   	<listener>  
	    <listener-class>  
	        org.springframework.web.context.ContextLoaderListener  
	    </listener-class>  
	</listener>   
	<context-param>  
	    <param-name>contextConfigLocation</param-name>  
	    <param-value>classpath:spring-*.xml</param-value>  
	</context-param>  
 	
 	<!-- 通知系统日志监控的配置发生变化 -->
   	<servlet> 
		<servlet-name>ConfigModifyNotify</servlet-name> 
		<servlet-class>com.chemao.log.servlet.ConfigModifyNotify</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>ConfigModifyNotify</servlet-name> 
		<url-pattern>/configModifyNotify</url-pattern> 
	</servlet-mapping> 

	<!-- preload -->
	<servlet> 
		<servlet-name>Preload</servlet-name> 
		<servlet-class>com.chemao.log.servlet.Preload</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>Preload</servlet-name> 
		<url-pattern>/preload</url-pattern> 
	</servlet-mapping> 
</web-app>
