<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd    
    http://www.springframework.org/schema/tx    
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">  
	
	<bean id="monitorDataPushService" class="com.chemao.log.monitor.alarm.MonitorDataPushServiceImpl"/>
	
	<bean id="logQueryService" class="com.chemao.log.monitor.collector.ALiyunSlsLogQueryServiceImpl"  init-method="init">
		<property name="accessId" value="L5ASLE8ue7wTNBxc"/> 
		<property name="accessKey" value=""/>
		<property name="project" value="log-monitor"/>
	</bean> 
	
	<bean id="logMonitorConfig" class="com.chemao.log.monitor.config.LogMonitorConfigImpl" init-method="init">
	</bean> 
	
	<bean id="monitorTaskGenerator" class="com.chemao.log.monitor.schedule.MonitorTaskGenerator"  init-method="init">
		<property name="logMonitorConfig" ref="logMonitorConfig"/> 
		<property name="logQueryService" ref="logQueryService"/>
		<property name="monitorDataPushService" ref="monitorDataPushService"/>
	</bean> 

</beans>
